In [3]:
from datascience import *

# How many stars in the Hipparcos catalogue have an Absolute Magnitude similiar to the Sun?
#### http://cdsarc.u-strasbg.fr/viz-bin/nph-Cat/html?I/239/hip_main.dat.gz

In [8]:
hip_main = Table.read_table("hip_cat_2.csv", sep=',')
hip_main

HIP  | RAdeg      | DEdeg    | Vmag  | Plx   | abs_mag  | dist (pc) | x       | y          | z
1    | 0.00091185 | 1.08901  | 9.1   | 3.54  | 1.84502  | 282.486   | 282.435 | 0.00449489 | 5.36885
2    | 0.00379737 | -19.4988 | 9.27  | 21.9  | 5.97222  | 45.6621   | 43.0433 | 0.00285276 | -15.2414
3    | 0.00500795 | 38.8593  | 6.61  | 2.81  | -1.14647 | 355.872   | 277.114 | 0.0242212  | 223.278
4    | 0.0083817  | -51.8935 | 8.06  | 7.75  | 2.50651  | 129.032   | 79.629  | 0.0116488  | -101.531
5    | 0.00996534 | -40.5912 | 8.55  | 2.87  | 0.839409 | 348.432   | 264.589 | 0.0460195  | -226.71
6    | 0.0181414  | 3.94649  | 12.31 | 18.8  | 8.68079  | 53.1915   | 53.0654 | 0.016802   | 3.66089
7    | 0.0225489  | 20.0366  | 9.64  | 17.74 | 5.88477  | 56.3698   | 52.9579 | 0.0208417  | 19.3134
8    | 0.0272916  | 25.8865  | 9.05  | 5.17  | 2.61745  | 193.424   | 174.016 | 0.0828886  | 84.4467
9    | 0.0353419  | 36.5859  | 8.59  | 4.81  | 2.00073  | 207.9     | 166.936 | 0.102972   | 123.914
10   | 0.0362531  | -50.8671 | 8.59  | 10.76 | 3.74906  | 92.9368   | 58.6544 | 0.0371128  | -72.0896
... (113700 rows omitted)

# Sun values

In [23]:
sun_absMag = 4.9
sun_appMag = -26.7

# Test

In [42]:
hip_main.column("abs_mag")[0]

1.8450163101289403

In [45]:
type(hip_main.column("abs_mag")[0])

numpy.float64

In [43]:
hip_main.where(5, are.equal_to(hip_main.column("abs_mag")[0]))#.select(0, 6, 3, 5)

HIP  | RAdeg      | DEdeg   | Vmag | Plx  | abs_mag | dist (pc) | x       | y          | z
1    | 0.00091185 | 1.08901 | 9.1  | 3.54 | 1.84502 | 282.486   | 282.435 | 0.00449489 | 5.36885

In [44]:
hip_main.where(5, are.equal_to(1.8450163101289403))#.select(0, 6, 3, 5)

HIP  | RAdeg      | DEdeg   | Vmag | Plx  | abs_mag | dist (pc) | x       | y          | z
1    | 0.00091185 | 1.08901 | 9.1  | 3.54 | 1.84502 | 282.486   | 282.435 | 0.00449489 | 5.36885

# Tabla vac√≠a con valores iguales a 4.9

In [36]:
hip_main.where("abs_mag", 4.9)

HIP  | RAdeg | DEdeg | Vmag | Plx  | abs_mag | dist (pc) | x    | y    | z

In [37]:
hip_main.where("abs_mag", are.equal_to(4.9))

HIP  | RAdeg | DEdeg | Vmag | Plx  | abs_mag | dist (pc) | x    | y    | z

# Valores menores o iguales a 4.9

In [58]:
absMag_lessThan = hip_main.where(hip_main['abs_mag'] <= 4.9).select(0, 6, 3, 5)
absMag_lessThan

HIP  | dist (pc) | Vmag | abs_mag
1    | 282.486   | 9.1  | 1.84502
3    | 355.872   | 6.61 | -1.14647
4    | 129.032   | 8.06 | 2.50651
5    | 348.432   | 8.55 | 0.839409
8    | 193.424   | 9.05 | 2.61745
9    | 207.9     | 8.59 | 2.00073
10   | 92.9368   | 8.59 | 3.74906
11   | 233.1     | 7.34 | 0.502286
12   | 246.305   | 8.43 | 1.47263
13   | 286.533   | 8.8  | 1.51413
... (104950 rows omitted)

In [59]:
absMag_lessThan.num_rows

104960

In [60]:
absMag_lessThan.column('abs_mag')

array([ 1.84501631, -1.1464684 ,  2.50650851, ...,  3.36266632,
        1.08485002, -0.80990922])

# Max

In [61]:
max(absMag_lessThan.column('abs_mag'))

4.899733408394214

In [62]:
min(absMag_lessThan.column('abs_mag'))

-13.31

# Valores mayores o iguales a 4.9

In [50]:
absMag_higherThan = hip_main.where(hip_main['abs_mag'] >= 4.9).select(0, 6, 3, 5)
absMag_higherThan

HIP  | dist (pc) | Vmag  | abs_mag
2    | 45.6621   | 9.27  | 5.97222
6    | 53.1915   | 12.31 | 8.68079
7    | 56.3698   | 9.64  | 5.88477
18   | 50.1756   | 11.03 | 7.52754
38   | 41.9463   | 8.65  | 5.53653
45   | 66.2252   | 9.59  | 5.48488
47   | 40.8998   | 10.78 | 7.72139
54   | 47.6872   | 10.57 | 7.17799
57   | 29.5072   | 8.27  | 5.92036
65   | 58.8928   | 11    | 7.14969
... (8740 rows omitted)

In [51]:
absMag_higherThan.num_rows

8750

In [53]:
absMag_higherThan.column('abs_mag')

array([5.97222057, 8.68078925, 5.88476808, ..., 6.82913389, 8.80732206,
       5.61876692])

In [56]:
max(absMag_higherThan.column('abs_mag'))

15.449014523417619

# Min

In [57]:
min(absMag_higherThan.column('abs_mag'))

4.900053978576052

# These two stars have the most similar Absolute Magnitude to the Sun

In [63]:
hip_main.where(5, are.equal_to(4.900053978576052)).select(0, 6, 3, 5)

HIP   | dist (pc) | Vmag  | abs_mag
70880 | 115.875   | 10.22 | 4.90005

In [64]:
hip_main.where(5, are.equal_to(4.899733408394214)).select(0, 6, 3, 5)

HIP   | dist (pc) | Vmag | abs_mag
76696 | 95.511    | 9.8  | 4.89973

# Sort by descending True

In [66]:
absMag_lessThan.sort("abs_mag", descending = True)

HIP    | dist (pc) | Vmag  | abs_mag
76696  | 95.511    | 9.8   | 4.89973
12499  | 101.42    | 9.93  | 4.89938
109378 | 21.2902   | 6.54  | 4.8991
51611  | 66.7111   | 9.02  | 4.89901
111131 | 93.3707   | 9.75  | 4.89895
70364  | 127.714   | 10.43 | 4.89881
25614  | 111.235   | 10.13 | 4.8988
17077  | 93.8086   | 9.76  | 4.89879
111746 | 39.6511   | 7.89  | 4.89873
60968  | 129.534   | 10.46 | 4.89809
... (104950 rows omitted)

# 7554 stars are above the absolute magnitude of 4

In [76]:
absMag_aboveFour = absMag_lessThan.where("abs_mag", are.above(4))
absMag_aboveFour

HIP  | dist (pc) | Vmag  | abs_mag
27   | 103.52    | 9.32  | 4.24489
58   | 38.373    | 7.05  | 4.12987
70   | 190.476   | 10.42 | 4.0208
72   | 94.0734   | 8.97  | 4.10267
80   | 64.1437   | 8.4   | 4.36423
93   | 59.7372   | 8.12  | 4.23878
101  | 136.054   | 9.88  | 4.21144
118  | 82.7815   | 9.2   | 4.61033
212  | 161.812   | 10.24 | 4.19494
227  | 114.679   | 9.86  | 4.56258
... (7544 rows omitted)

In [77]:
max(absMag_aboveFour.column("abs_mag"))

4.899733408394214

In [78]:
min(absMag_aboveFour.column("abs_mag"))

4.000016857918732

# Sort by descending False

In [68]:
absMag_higherThan.sort("abs_mag", descending = False)

HIP   | dist (pc) | Vmag  | abs_mag
70880 | 115.875   | 10.22 | 4.90005
18347 | 62.5      | 8.88  | 4.9006
74746 | 92.4214   | 9.73  | 4.90114
84442 | 69.7837   | 9.12  | 4.90123
30037 | 71.0732   | 9.16  | 4.90147
96213 | 101.317   | 9.93  | 4.90159
31998 | 215.517   | 11.57 | 4.90259
89268 | 64.1849   | 8.94  | 4.90284
8678  | 77.1605   | 9.34  | 4.90303
64913 | 91.9118   | 9.72  | 4.90314
... (8740 rows omitted)

# 505 stars are below the absolute magnitude of 5

In [70]:
absMag_belowFive = absMag_higherThan.where("abs_mag", are.below(5))
absMag_belowFive

HIP  | dist (pc) | Vmag  | abs_mag
337  | 84.246    | 9.6   | 4.97225
1411 | 68.5871   | 9.09  | 4.90879
1437 | 61.5764   | 8.88  | 4.93293
1598 | 24.8447   | 6.97  | 4.99383
1625 | 51.573    | 8.5   | 4.93789
1742 | 73.3676   | 9.31  | 4.98248
2067 | 184.162   | 11.28 | 4.954
2460 | 123.609   | 10.4  | 4.93974
2563 | 56.1798   | 8.66  | 4.9121
2894 | 55.4631   | 8.64  | 4.91998
... (495 rows omitted)

In [71]:
max(absMag_belowFive.column("abs_mag"))

4.999774856698004

In [72]:
min(absMag_belowFive.column("abs_mag"))

4.900053978576052

# 8059 stars have the most similar Absolute Magnitude to the Sun

In [84]:
absMag_belowFive.num_rows + absMag_aboveFour.num_rows

8059